## Learning Objectives

- Learn all of the methods in pandas for data-frame manipulation
- The dataset we use is Titanic dataset
- Apply visualization to data-frame

### Lets make Pandas dataframe from titanic csv file

In [ ]:
import numpy as np 
import pandas as pd 

df = pd.read_csv('./data/titanic.csv')

### Lets look at the first 5 rows of dataframe

In [ ]:
df.head()

In [ ]:
df.shape

### Titanic Dataset Description

In [ ]:
VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

### Plot how many of the passengers were children, youth, middle age and old?

In [ ]:
import matplotlib.pyplot as plt

df['Age'].hist(bins=16)
plt.show()

### How many of Age values are empty (or null)?

In [ ]:
# how many of Age values are null
df['Age'].isna().sum()

In [ ]:
# Parch = number of parents or children on board
# SibSp = number of siblings or spouses

### Create a new column as gender, when Sex is female it is zero when sex is male it is one

In [ ]:
# create a new column as gender, when Sex is female it is zero when sex is male it is one
df['Gender'] = df['Sex'].map( {'female': 0, 'male': 1} ).astype(int)

In [ ]:
df.head()

### We have one more column (check it)

In [ ]:
df.shape

### Show the majority of Age range

In [ ]:
df['Age'].plot.box()

### List all of the Ages that are not null

In [ ]:
df['Age'].dropna().values

### Slice the dataframe for those whose Embarked section was 'C'

In [ ]:
df[df['Embarked'] == 'C'].head()

### Plot the Age range for those whose Embraked were 'C'

In [ ]:
#Activity: 
# the age range of passenger whose their Embarked were 'C'
df[df['Embarked'] == 'C']['Age'].hist(bins=16)

### Apply couple of Normal Distributions to Histogram obtained above

In [ ]:
df[df['Embarked'] == 'C']['Age'].plot(kind='kde')

### Describe a specific column

In [ ]:
df['Embarked'].describe()

### How many unique values does the 'Embraked' have?

In [ ]:
df['Embarked'].nunique()

### Count the different 'Embarked' values the dataframe has

In [ ]:
df['Embarked'].value_counts().plot(kind='bar')

### Count the different 'Embarked' values the dataframe has and plot horizontaly

In [ ]:
df['Embarked'].value_counts().plot('barh').invert_yaxis()

# Check df['Embarked'].value_counts().plot('barh')

### Another way to do the count and plot it

In [ ]:
import seaborn as sns


# Bar Chart Example #1 (Simple): Categorical Variables Showing Counts
sns.countplot(x="Embarked", palette="spring", data=df)

In [ ]:
df['Embarked'].value_counts()

In [ ]:
df['Sex'].value_counts().to_json()

In [ ]:
df['Sex'].value_counts().plot(kind='bar')

In [ ]:
df['Sex'].value_counts().plot(kind='pie')

### Plot how many of the passengers were children, youth, middle age and old based on there Sex for those who 'Embarked' in section 'C'?

In [ ]:
for i in df[df['Embarked'] == 'C'].groupby('Sex')['Age']:
    print(i)

In [ ]:
df[df['Embarked'] == 'C'].groupby('Sex')['Age'].hist(bins=16, alpha=0.5)

In [ ]:
df[df['Embarked'] == 'C'].groupby('Sex')['Age'].plot(bins=16, kind='hist', legend=True, alpha=0.5)

In [ ]:
df[df['Embarked'] == 'C'].groupby('Sex')['Age'].value_counts()

In [ ]:
# # import the pandas library
# import pandas as pd
# import numpy as np

# ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
#          'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
#          'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
#          'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
#          'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
# df = pd.DataFrame(ipl_data)

# grouped = df.groupby('Year')
# df.groupby('Year')['Points'].agg(np.mean)

# https://www.tutorialspoint.com/python_pandas/python_pandas_groupby.htm

### What is the average Age for female and male (based on sex) for those who have 'Embarked' on section 'C'?

In [ ]:
df[df['Embarked'] == 'C'].groupby('Sex')['Age'].agg(np.mean)

### Another way we can do the above task

In [ ]:
df[df['Embarked'] == 'C'].groupby('Sex')['Age'].apply(lambda x:np.mean(x))

### Which Age is the oldest for female and male (based on sex) for those who have 'Embarked' on section 'C'?

In [ ]:
df[df['Embarked'] == 'C'].groupby('Sex')['Age'].agg(np.max)

### For different Ages, plot the Fare they have paid?

In [ ]:
sns.regplot(x="Age", y="Fare", fit_reg=False, data=df)

In [ ]:
df.plot.scatter(x="Age", y="Fare")

### Plot how percentage Survived for two Sex group based on the passengers class

In [ ]:
sns.barplot(x="Sex", y="Survived", hue="Pclass", data=df)

### Plot how many male or female were in different Passenger classes

In [ ]:
sns.countplot(x="Sex", hue="Pclass", data=df)

In [ ]:
import seaborn as sns
sns.countplot(x="Sex", hue="Survived", data=df)

In [ ]:
pd.crosstab(df['Sex'], df['Survived']).to_json()

### Verify values obtained for pertentage

In [ ]:
df[(df['Sex'] == 'female') & (df['Pclass'] == 1)]['Survived'].value_counts()

In [ ]:
91/(91 + 3)

In [ ]:
dict(df[(df['Sex'] == 'female') & (df['Pclass'] == 1)]['Survived'].value_counts())

### Stack plot of count based on Sex for different Passenger Class

In [ ]:
df.groupby(['Sex'])['Pclass'].value_counts().unstack().plot(kind='bar',stacked=True)

### Stack plot of count based on Sex and Survival for different Passenger Class

In [ ]:
df.groupby(['Sex', 'Survived'])['Pclass'].value_counts().unstack().plot(kind='bar',stacked=True)

### Sometimes it is hard to read values from plot, what are the number of female and male at each Passenger Class

In [ ]:
# df.groupby(['Sex'])['Pclass'].value_counts().unstack()
# the above and crosstab are the same 
pd.crosstab(df['Sex'], df['Pclass'])

In [ ]:
pd.crosstab(df['Sex'], df['Survived'])

In [ ]:
pd.crosstab(df['Sex'], df['Embarked'])

### How to represent the above cross tab in percentage and graphically present

In [ ]:
sns.heatmap(pd.crosstab(df['Sex'], df['Embarked'], normalize='index'), cmap="YlGnBu", annot=True)

## Question:

What percent of passengers embarked at C?

In [ ]:
# Answer:

print(dict(df['Embarked'].value_counts()))

dict(df['Embarked'].value_counts())['C']

In [ ]:
sum(dict(df['Embarked'].value_counts()).values())

In [ ]:
dict(df['Embarked'].value_counts())['C']/sum(dict(df['Embarked'].value_counts()).values())

#### OR

In [ ]:
len(df[df['Embarked'] == 'C'])/len(df['Embarked'].dropna())

What percent of female passengers embarked at C?

In [ ]:
pd.crosstab(df['Sex'], df['Embarked'])

In [ ]:
len(df[(df['Sex'] == 'female') & (df['Embarked'] == 'C')])

In [ ]:
len(df[df['Sex'] == 'female'])

In [ ]:
73/ 314

In [ ]:
len(df[(df['Sex'] == 'female') & (df['Embarked'] == 'C')])/len(df[df['Sex'] == 'female'])

This question is different from above:
What percent of passengers embarked at C were female?